*{
    margin:0;
    padding:0;
}
h1{
    text-align:center;
    padding:20px;
    font-style:bold;
    color:white;
}
h2{
    font-style:underline;
    text-align:center;
    padding:20px;
}
.register{
    background:rgb(35, 46, 4);
    width:500px;
     margin:150px 500px 0px 50px; 
    align-items:center;
    /* align-self: center; */
    color:white;
    font-size:18;
    padding:20px;
    border-radius:10px;
}
body{
    background-image:url("registimg2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#register{
    margin-left:50px;
}
label{
  color:white;
  font-family:san-serif;
  font-style:bold;
  font-size:18px;
}
#name{
    width:200px;
    border:none;
    border-radius:3px;
    outline:0;
    padding:7px;
}
#sub{
    width:230px;
    border:none;
    border-radius:3px;
    outline:0;
    padding:7px;
    font-style:bold;
    color:black;
    opacity:1;
    cursor:pointer;
}
input:focus{
    box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.3);
    color:white;
    /* @include easeme; */
  }
  

