<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link href='css/forget.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="forgot">
    
        <form method="post" id="forget" action="/forgot">
           <h1>Forgot your Password?</h1><p>Please enter your username and password</p><br>
            <label>Username</label><input type="text" name="email" id="name" placeholder="Enter your username"><br><br>
            <label>New Password</label>
            <input type="password" name="newpass" id="newpas" placeholder="Enter new password"><br><br>
            <label>Confirm Password</label>
            <input type="password" name="cpass" id="cpas" placeholder="Re-enter your password"><br><br>
             <button type="submit" id="sub">Submit</button>
             </form></div>

             
</body>
</html>