<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    {{>navbar}}
     <div class="register">
    <h1>Registration Form</h1>
         <h2>Register here</h2>
        <form method="post" id="register" action="/register">
           
            <label>Email Id</label><br><input type="text" name="email" id="name" placeholder="Enter your email id"><br><br>
            <label>Password</label><br>
            <input type="password" name="pass" id="name" placeholder="Enter your password"><br><br><br>
             <input type="submit" value="Submit" id="sub">
             </form></div>
</body>
</html>