<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style2.css">
</head>
<body>
 
         <div class="login">
        <form method="post" id="login" action="/login">
           <h1>Login</h1><br><br>
            <label>Username</label><br><input type="text" name="email" id="name" placeholder="Enter your username"><br><br>
            <label>Password</label><br>
            <input type="password" name="pass" id="name" placeholder="Enter your password"><br><br>
            <a href="/forgot">Forgot your Password?</a><br><br><br>
             <button type="login" id="log">Sign in</button>
             </form></div>
</body>
</html>
 
    